env:
    global:
        - WHEELHOUSE_UPLOAD=1
        - REPO_DIR=cvxopt
        - BUILD_COMMIT=1.2.7
        - BUILD_DEPENDS=""
        - TEST_DEPENDS="pytest"
        - PLAT=x86_64
        - UNICODE_WIDTH=32

language: generic
services: docker
dist: xenial

matrix:
  include:
    - os: linux
      env: MB_PYTHON_VERSION=2.7
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
        - UNICODE_WIDTH=16
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
        - PLAT=i686
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
        - PLAT=i686
        - UNICODE_WIDTH=16
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.5
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.6
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.7
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.8
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.9
    - os: osx
      env:
        - MB_PYTHON_VERSION=2.7
        - MB_PYTHON_OSX_VER=10.6
    - os: osx
      env:
        - MB_PYTHON_VERSION=2.7
    - os: osx
      env:
        - MB_PYTHON_VERSION=3.5
    - os: osx
      env:
        - MB_PYTHON_VERSION=3.6
    - os: osx
      env:
        - MB_PYTHON_VERSION=3.7
    - os: osx
      env:
        - MB_PYTHON_VERSION=3.8
    - os: osx
      env:
        - MB_PYTHON_VERSION=3.9


before_install:
    - source multibuild/common_utils.sh
    - source multibuild/travis_steps.sh
    - before_install

install:
    - clean_code $REPO_DIR $BUILD_COMMIT
    - build_wheel $REPO_DIR $PLAT

script:
    - install_run $PLAT

before_deploy: cd ${TRAVIS_BUILD_DIR}/wheelhouse
deploy:
  skip_cleanup: true
  provider: cloudfiles
  username: martinandersen
  api_key:
    secure: "VRSaOLmsDN67+mly3YmOpgedJvwBnlVif3ZHIU9lBDQtbthiGu9lcnEY5kiT6EMU9iONxPg2ibWpykkepeRfyUB6wK7Nz45y3cnhKbeisPISKQO4JtjdWNnzjFFsBwaviAsOy3GlhbmNy9PUPPcCgui19Mv4XV0ww7Kyrt6G1V11JRjQkPY1fKBy2eUBbKnfpl3lqNERyCCg75FxdF/RYyneTHnUDvDUb4qcNgO4MJyrB8nus3S5VtEIH4HdoWZbzo0RMu3UE4MiC9PyJOE2MVndcRxXkR1jeI+Yx+A8nlOp2wAtdAe11yDtf2afiw9Ji65+npILLAi+0xrXJ/NQXorAJDsLZkGW2LiMihw7vOvph+yIFYaRfcD3UVe71OOuTf+DALLrczeXkUf5b3NiqvPCO+xCklfYJkR+vgfNR+zyOex4PH7YrNke3Pb9eySCdjQF3SWBG3q5iPNxOATb51YZf93FmRQClEg87ECpQA1nJh2N+nIPX+qF4DGzqjMfjPgliv3wcXpzzpEGVuDI0QFP3ZDuEU4qBFNevqFfOlXb13O5JH+czjtnkFOyKK7CcxhhkT+MqDI+JzOCuaLDufLjh1gI3JpMO3pFtsLqnMGqFJBVEOyMo1gRsveOM/wsJ6pbo85irTAd4BRjmY1i3iaUzNy/rXleLNrJMZ6qluo="
  region: IAD
  container: wheelhouse
  on:
    repo: cvxopt/cvxopt-wheels
    branch: master
    condition: $WHEELHOUSE_UPLOAD = 1

