env:
    global:
        - WHEELHOUSE_UPLOAD=1
        - REPO_DIR=cvxopt
        - BUILD_COMMIT=1.3.0
        - BUILD_DEPENDS=""
        - TEST_DEPENDS="pytest"
        - PLAT=x86_64
        - UNICODE_WIDTH=32

language: generic
services: docker
os: linux
dist: xenial

jobs:
  include:
    # - env:
    #     - MB_PYTHON_VERSION="3.6"
    # - env:
    #     - MB_PYTHON_VERSION="3.7"
    # - env:
    #     - MB_PYTHON_VERSION="3.8"
    # - env:
    #     - MB_PYTHON_VERSION="3.9"
    # - env:
    #     - MB_PYTHON_VERSION="3.10"
    # - env:
    #     - MB_PYTHON_VERSION="3.11"
    # - os: osx
    #   env:
    #     - MB_PYTHON_VERSION="3.6"
    #     - PLAT="universal2"
    # - os: osx
    #   env:
    #     - MB_PYTHON_VERSION="3.7"
    #     - PLAT="universal2"
    # - os: osx
    #   env:
    #     - MB_PYTHON_VERSION="3.8"
    #     - PLAT="universal2"
    # - os: osx
    #   env:
    #     - MB_PYTHON_VERSION="3.9"
    #     - PLAT="universal2"
    # - os: osx
    #   env:
    #     - MB_PYTHON_VERSION="3.10"
    #     - PLAT="universal2"
    - os: osx
      osx_image: xcode12.5
      env:
        - MB_PYTHON_VERSION=3.11
    # - os: osx
    #   osx_image: xcode12.5
    #   env:
    #     - MB_PYTHON_VERSION="3.9"
    #     - PLAT="universal2" 
    # - os: osx
    #   osx_image: xcode12.5
    #   env:
    #     - MB_PYTHON_VERSION="3.10"
    #     - PLAT="universal2" 
    # - os: osx
    #   osx_image: xcode12.5
    #   env:
    #     - MB_PYTHON_VERSION=3.11
    #     - PLAT="universal2" 

before_install:
  - source multibuild/common_utils.sh
  - source multibuild/travis_steps.sh
  - before_install

install:
  - clean_code $REPO_DIR $BUILD_COMMIT
  - build_wheel $REPO_DIR $PLAT

script:
  - install_run $PLAT

before_deploy: cd ${TRAVIS_BUILD_DIR}/wheelhouse
deploy:
  provider: cloudfiles
  username: martinandersen
  api_key:
    secure: "iY1q/4j4/Q3iujT7xSvlNcycWqiAQ+H+CERvDcovUqzPI46gFuDpXuXOtCmJXS/78ThyaYh6RLrrrVVOrVuOd0v0kHjq3+60C1AEWan579wTAOGt2JgeRjQrFTiIecLI09Z1KImck94yQVczpqjTn03W72FpGFtB4ORbSZrh+8h86ramoa5JnFpnfcYABjJO/7AnB1R9TKsH2nKQZb3qSwGf7YVjuk3LhY6cV6ZKfEpNaKRjV5uGL/b9owhoKri9YXH/dxJ1mxiNPtNdLbmgHpVN3Tf1JGMpz1EGPdLAvXp8DwrAe6N7e75qrvw0U9PyfYJEpipl9LFpPsJgeL8Aj+DgNiYzNXwm+IN/DbUKAe13xajiCYppqusA0gKDrBrD2DCBmepNZfedrhGIEh7mEMflJa+H+bcDdAqhx+qrXPfGH44xE+wnBv7kGPHLU4SmEhDAxXyKpn/6lVJsQXrQDlyyqLgUXw0S8ahoelZeAsOwDfahxbcnrS1Ig7WKG4oOyXUYiRngM9rcjoUXXOACsYoRTWsxbjAbvOcL+wNN9vMTXKdLreWOuRgfEPYZUE3ThiEzTck4gFfx+F55n2UV5ylSw8lOzdyJ03HEFsvikZTWYdTfc6qi2TDrMyWg6fzKr1HHQXUHWFxaPY1RvUrRw3LaJpbWuJ64QSBaeDsKBrs="
  region: IAD
  container: wheelhouse
  on:
    repo: cvxopt/cvxopt-wheels
    branch: master
    condition: $WHEELHOUSE_UPLOAD = 1

