name: macOS wheels

on: workflow_dispatch

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15, macos-15-intel]

    steps:
      - name: Checkout repo with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          MACOSX_DEPLOYMENT_TARGET: 15.0
          CIBW_BUILD: "cp39-* cp310-* cp311-* cp312-* cp313-* cp314-*"
          CIBW_ARCHS: "native"
          CIBW_BEFORE_ALL: |
            cd cvxopt
            ./.ci-support/before_all_macos.sh
          CIBW_TEST_COMMAND: "pytest {package}/tests"
        with:
          package-dir: cvxopt
                    
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
